ansible_python_interpreter: /usr/bin/python3
ansible_ssh_common_args: '-o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no'
enables_roles:
  preparing_hosts: true
  cluster: true
kubernetes_repo_version: "v1.36"
kubernetes_package_version: "1.36.4-1.1"
kubeadm_token: ${kubeadm_token}
kube_pod_network_cidr: "10.244.0.0/16"
calico_version: "v3.31.0"
calico_manifest_url: "https://raw.githubusercontent.com/projectcalico/calico/{{ calico_version }}/manifests/calico.yaml"
haproxy_cfg: /etc/haproxy/haproxy.cfg
haproxy_public_ip: ${haproxy_public_ip}
